footer {
    text-align: center;
    padding: 30px;
    color: #00ff66;
    font-size: 0.9rem;
    background-color: #0a0a0a;
}


.viñeta {
    list-style: none;
    padding: 0;
    max-width: 600px; /* Para que no se estire demasiado en pantallas grandes */
    margin: 0 auto; /* Centra el bloque de la lista */
}

.viñeta li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
}

.viñeta li::before {
    content: ">_ "; 
    color: #00ff66; /* Un verde terminal le quedaría genial, o mantén tu #333 */
    font-weight: bold;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace; /* Opcional: le da un toque más "code" */
}

/* 1. Definimos la animación del parpadeo */
@keyframes parpadeo {
    0%, 100% {
        color: #00ff66; /* Verde encendido */
    }
    50% {
        color: transparent; /* Se apaga (invisible) */
    }
}

/* 2. Modificamos el comportamiento al hacer hover */
/* Cuando el usuario pasa el ratón por encima del li o del enlace... */
.viñeta li:hover::before {
    /* Aplicamos la animación: dura 0.8 segundos, es infinita y va a saltos (steps) como una consola real */
    animation: parpadeo 0.8s steps(2, start) infinite;
}

footer .viñeta a {
    background-color: transparent !important;
    text-decoration: none;
    color: #00ff66 !important; 
}

.viñeta a:hover {
    text-decoration: underline;
    color: #00ff66;
}
