
	.cta-container

	{
	

		background-image: url('../img/motor.jpg');

		background-size: cover;

		background-position: center;

		background-repeat: no-repeat;

		background-attachment: scroll;
		
		/*background-color: blue;*/

		text-align: center;

		padding: 60px;		

	}

	.cta-text

	{

		font-size: 28px;

		font-weight: bold;

	}

	.cta-buttom

	{

		background-color: #626bb2;

		color: white;

		padding: 15px 30px;

		border: none;

		border-radius: 15px;

		font-size: 20px;

		text-transform: uppercase;

		cursor: pointer;

	}

	






























