@charset "utf-8";

body{

	text-align: center;

}



.emoji-list {
	
	list-style: none;
    text-align: left;
    display: inline-block;
}


.emoji-list li {

	color: blue;

	font-family: sans-serif, arial, helvetic;

	font-size: 20px;

	margin: 10px 0;

	position: relative;

}
.emoji-list li::before {
    content: "\1F63B";
    font-size: 24px;
    margin-right: 10px;
}
