.text-indent {
	text-indent: 30px;

}

.text-align {

	text-align: right;

}

.text-decoration {

	text-decoration: underline;

}


.letter-spacing {

	letter-spacing: 3px;

}

.word-spacing {

	word-spacing: 10px;

}

.text-transform {

	text-transform: uppercase;

}

.line-height {

	line-height: 70px;

}

.a {

	vertical-align: top;

}

.b {

	vertical-align: middle;

}

.c {

	vertical-align: bottom;

}

p+p {

	color: green;

}

td {

	height: 100px;

	border: solid grey 1px;

}