@charset "utf-8";


.contenedor {
    border: 2px solid black;
    background-color: lightgrey;
    width: 80%;
    margin: 10px auto;
}

.flexible{
    display: flex;
    justify-content: space-around;
    
}

.envio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.juntos{
    display: flex;
}

.pago{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.pie{

    padding: 10px;
}

input[type=submit]{
    background-color: green;
    width: 100%;
    color: white;
    padding: 10px;
}



input{
    padding: 5px;
    margin: 1px;
}

select{
    padding: 5px;
    margin: 1px;
}

.envio img{

    width: 20px;
}

:is(input[type=text], input[type=password], input[type=email]):invalid{
    background-color: red;
}

:is(input[type=text], input[type=password], input[type=email]):use-invalid{
    background-color: red;
}

:is(input[type=text], input[type=password], input[type=email]):valid{
    background-color: green;

}:is(input[type=text], input[type=password], input[type=email]):user-valid{
    background-color: green;
}