.nota {
    background-color: #FFFFCC;
    border-left: 6px solid #ffeb3b;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

hr {
    border: 1px solid grey;
}

code {
    color: red;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 125%;
}

.etiquetasHTML {
    background-color: #f1f1f1;
    border: 1px solid #cccccc;
    font-size: 24px;
    padding: 16px;
}

code span {
    color: mediumblue;
}

code span span {
    color: brown;
}

code span span span {
    color: crimson;
}

.ejemplo {
    background-color: #f1f1f1;
    padding: 8px 16 px;
    margin: 20px 0;
    box-shadow: 0 2px 4px 0 rgba (0, 0, 0, 16), 0 2px 10px 0 rgba(0, 0, 0, 16);
}

.code {
    margin-top: 16px;
    margin-bottom: 16 px;
    background-color: #FFFFFF;
    padding: 8px 12px;
    border-left: 4px solid chartreuse;
}

.cite {
    margin-top: 16px;
    margin-bottom: 16 px;
    background-color: #FFFFFF;
    padding: 8px 12px;
    border-left: 4px solid #72A3E5;
}

table h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

.tabla1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tabla1 td,
.tabla1 th {
    border: 1px solid #DDDDDD;
}

.tabla1 tr:nth-child(even) {
    /* hace que una linea si, una no, salga en gris*/
    background-color: #DDFFDD;
}

.tabla1 code {
    color: black;
    font-size: 130%;
}

.tablaDemo table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tablaDemo td,
th {
    border: 1px solid #DDDDDD;
}

.tablaScope table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tablaScope td,
th {
    border: 1px solid #DDDDDD;
}

.tablaFilas {
    width: 100%;
}

.tablaFilas thead {
    background-color: tomato;
}

.tablaFilas tbody {
    background-color: aqua;
}

.tablaFilas tfoot {
    background-color: yellowgreen;
}

span {
    padding: 2px 5px;
    margin: 2px;
    /*font-size: 87.5%; no queremos que se reduzca el tamaño de la letra*/
    color: #212579;
    border-radius: 4px;
    /* borde redondeado*/
    background-color: aliceblue;
}

#div_padre {
    border: 1px solid green;
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
}

#div_hijo1 {
    float: left;
    width: 33.33%;
    background-color: lightblue;
}

#div_hijo2 {
    float: left;
    width: 33.33%;
    background-color: lightgreen;
}

#div_hijo2 span {
    background-color: black;
    color: white;
}

#div_hijo3 {
    float: left;
    width: 33.33%;
    background-color: lightcoral;
}

/* Columnas de listas ordenadas */
.fila-ol {
    width: 100%;
    display: flex;
}

.col-ol {
    width: 33.3%;
    float: left;
    overflow: hidden;
}

/* Margen para listas de definición */
.dl-margen {
    margin-left: 50px;
}
